{% extends "layout.html" %}

{% block body %}
<h1> Register for electives</h1>

<form action ="/register" method="post">
    <input name="name" autocomplete="off" autofocus placeholder="Name" type="text">
    <select name="elective">
        <option disabled selected value="">Elective choice</option>
        {% for elective in electives %}
            <option value="{{ elective}}">{{elective}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Register">

</form>

{% endblock %}